# Introducing Sqlite database

Sqlite is a server-less database with full features you need for a database. It's light and comes with python so saves you the trouble for setup.

Let's run the following command on the terminal to set up a database called `test.db`.


```bash

# this will connect you with the a database called test.db
sqlite3 test.db 

# configuration
sqlite> .headers on
sqlite> .mode column
```

## Basic commands and queries



Once connected to sqlite database, you can start entering queries.

We will start by creating a table: 

```bash


# create a table and specify the columns
sqlite> CREATE TABLE users (
    user_id INTEGER PRIMARY KEY AUTOINCREMENT,
	first_name VARCHAR(50),
    last_name VARCHAR(50),
	age INTEGER
    );

# to see all the tables
sqlite> .tables

# insert records to the table
sqlite> INSERT INTO users (
    first_name, last_name, age)
    VALUES ('John', 'Smith', 30
    );
    
sqlite> INSERT INTO users (
    first_name, last_name, age)
    VALUES ('Bob', 'Chen', 40
    );
    
# select all records
sqlite> SELECT * FROM users;

```

```bash
# to drop table
sqlite> DROP TABLE users

# execute query from a file
sqlite> .read example.sql

# see the sales table
sqlite> SELECT * FROM sales;

# make a join query
sqlite> SELECT * FROM sales JOIN products ON sales.product_id = products.product_id;

# multiple join
sqlite> SELECT * FROM sales JOIN customers ON sales.customer_id = customers.customer_id JOIN products ON sales.product_id = products.product_id JOIN vip ON customers.vip_level = vip.vip_level;

```

## Let's prepare the tables for our data

Go to our vaccination_project repository and run these commands. Make sure you have your `vaccination.sql` available in the repo.

```bash

# make a new database called vaccination.db
sqlite3 vaccination.db

# read in the queries from a file
sqlite> .read vaccination.sql

```