# Execute SQL queries from Python

In [19]:
'''This is assuming that we already created the tables and records we saw in the class.'''

# get data
import sqlite3


get_all_qry = """
SELECT * FROM sales;
"""

# make a connection with the database
conn = sqlite3.connect('test.db')

# create cursor - a control structure that enables traversal over the records in a database
cursor = conn.cursor()
cursor.execute(get_all_qry)
print(cursor.fetchall())

# make sure you close the connection in the end
conn.close()

[(1, 'item1', 'abc123', 1, '2021-1-2'), (2, 'item2', 'abc124', 1, '2021-1-2'), (3, 'item1', 'abc125', 1, '2021-1-3'), (4, 'item4', 'abc126', 2, '2021-1-3'), (5, 'item1', 'abc123', 1, '2021-2-1'), (6, 'item1', 'abc123', 1, '2021-2-1')]

In [21]:
# in order not to forget to close connection...let's make a function for this
from contextlib import closing

def get_data(db, qry):
    """Provide the database name and query to get data."""
    with closing(sqlite3.connect(db)) as conn:
        c = conn.cursor()
        c.execute(qry)
        data = c.fetchall()
    return data

In [22]:
get_data('test.db', get_all_qry)

[(1, 'item1', 'abc123', 1, '2021-1-2'),
 (2, 'item2', 'abc124', 1, '2021-1-2'),
 (3, 'item1', 'abc125', 1, '2021-1-3'),
 (4, 'item4', 'abc126', 2, '2021-1-3'),
 (5, 'item1', 'abc123', 1, '2021-2-1'),
 (6, 'item1', 'abc123', 1, '2021-2-1')]

In [24]:
# join products table
get_sales_qry = """
SELECT * FROM sales JOIN products on sales.product_id=products.product_id;
"""
get_data('test.db', get_all_qry)

[(1, 'item1', 'abc123', 1, '2021-1-2'),
 (2, 'item2', 'abc124', 1, '2021-1-2'),
 (3, 'item1', 'abc125', 1, '2021-1-3'),
 (4, 'item4', 'abc126', 2, '2021-1-3'),
 (5, 'item1', 'abc123', 1, '2021-2-1'),
 (6, 'item1', 'abc123', 1, '2021-2-1')]

In [21]:
# we can also insert data

insert_qry = """
INSERT INTO sales(
    product_id, customer_id, unit, date
) VALUES (
    'item1', 'abc123', 1, '2021-2-1'
)
"""

def insert_data(qry):
    with closing(sqlite3.connect('test.db')) as conn:
        # create cursor - a control structure that enables traversal over the records in a database
        c = conn.cursor()
        c.execute(qry)
        conn.commit()
    print("Done")

In [22]:
insert_data(insert_qry)

Done

In [27]:
get_data('test.db', get_all_qry) # now you can see the record added

[(1, 'item1', 'abc123', 1, '2021-1-2'),
 (2, 'item2', 'abc124', 1, '2021-1-2'),
 (3, 'item1', 'abc125', 1, '2021-1-3'),
 (4, 'item4', 'abc126', 2, '2021-1-3'),
 (5, 'item1', 'abc123', 1, '2021-2-1'),
 (6, 'item1', 'abc123', 1, '2021-2-1')]

# We can use python to create databse and tables

Below script lets you create the tables and records we walked through in the class using sqlite3 command line tool. We can use python to do the same!

In [30]:
import sqlite3

# read in our sql file, make sure you have this file in your current directory
example_qry = open("example.sql", "r").read()

conn = sqlite3.connect('test2.db')  # this will create a database called test2.db
cursor = conn.cursor()
cursor.executescript(example_qry)  # when excuting multiple statements, use executescript
conn.commit()

# make sure you close the connection
conn.close()

In [31]:
# now you can run your query with this database test2.db!
get_data('test2.db', get_all_qry)

[(1, 'item1', 'abc123', 1, '2021-1-2'),
 (2, 'item2', 'abc124', 1, '2021-1-2'),
 (3, 'item1', 'abc125', 1, '2021-1-3'),
 (4, 'item4', 'abc126', 2, '2021-1-3')]