# Execute SQL queries from Python

In [24]:
# get data
import sqlite3


get_all_qry = """
SELECT * FROM sales;
"""

# create a connection with the database
conn = sqlite3.connect('test.db')

# create cursor - a control structure that enables traversal over the records in a database
cursor = conn.cursor()
cursor.execute(get_all_qry)
print(cursor.fetchall())

# make sure you close the connection in the end
conn.close()

[(1, 'item1', 'abc123', 1, '2021-1-2'), (2, 'item2', 'abc124', 1, '2021-1-2'), (3, 'item1', 'abc125', 1, '2021-1-3'), (4, 'item4', 'abc126', 2, '2021-1-3'), (5, 'item1', 'abc123', 1, '2021-2-1'), (6, 'item1', 'abc123', 1, '2021-2-1')]

In [17]:
# in order not to forget to close connection...let's make a function for this
from contextlib import closing

def get_data(qry):
    with closing(sqlite3.connect('test.db')) as conn:
        # create cursor - a control structure that enables traversal over the records in a database
        c = conn.cursor()
        c.execute(qry)
        data = c.fetchall()
    return data

In [19]:
get_data(get_all_qry)

[(1, 'item1', 'abc123', 1, '2021-1-2'),
 (2, 'item2', 'abc124', 1, '2021-1-2'),
 (3, 'item1', 'abc125', 1, '2021-1-3'),
 (4, 'item4', 'abc126', 2, '2021-1-3'),
 (5, 'item1', 'abc123', 1, '2021-2-1')]

In [20]:
# join products table
get_sales_qry = """
SELECT * FROM sales JOIN products on sales.product_id=products.product_id;
"""
get_data(get_all_qry)

[(1, 'item1', 'abc123', 1, '2021-1-2'),
 (2, 'item2', 'abc124', 1, '2021-1-2'),
 (3, 'item1', 'abc125', 1, '2021-1-3'),
 (4, 'item4', 'abc126', 2, '2021-1-3'),
 (5, 'item1', 'abc123', 1, '2021-2-1')]

In [21]:
# we can also insert data

insert_qry = """
INSERT INTO sales(
    product_id, customer_id, unit, date
) VALUES (
    'item1', 'abc123', 1, '2021-2-1'
)
"""

def insert_data(qry):
    with closing(sqlite3.connect('test.db')) as conn:
        # create cursor - a control structure that enables traversal over the records in a database
        c = conn.cursor()
        c.execute(qry)
        conn.commit()
    print("Done")

In [22]:
insert_data(insert_qry)

Done

In [23]:
get_data(my_qry)

[(1, 'item1', 'abc123', 1, '2021-1-2'),
 (2, 'item2', 'abc124', 1, '2021-1-2'),
 (3, 'item1', 'abc125', 1, '2021-1-3'),
 (4, 'item4', 'abc126', 2, '2021-1-3'),
 (5, 'item1', 'abc123', 1, '2021-2-1'),
 (6, 'item1', 'abc123', 1, '2021-2-1')]