# Use API to get data

Use public API to get data about covid19 confirmed cases by country.

In [79]:
import requests
from datetime import datetime

start = '2021-1-1'
end = str(datetime.today())

country = 'japan'

# api provided by https://covid19api.com/
# note: sometimes the server can be unstable and the request could fail
endpoint = f'https://api.covid19api.com/total/country/{country}/status/confirmed'

params = {'from': start, 'to': end}
res = requests.get(endpoint, params=params)

In [87]:
res

In [81]:
res.json()[:5]  # let's take a peek what we got back (here just show top 5 records)

[{'Country': 'Japan',
  'CountryCode': '',
  'Province': '',
  'City': '',
  'CityCode': '',
  'Lat': '0',
  'Lon': '0',
  'Cases': 239068,
  'Status': 'confirmed',
  'Date': '2021-01-01T00:00:00Z'},
 {'Country': 'Japan',
  'CountryCode': '',
  'Province': '',
  'City': '',
  'CityCode': '',
  'Lat': '0',
  'Lon': '0',
  'Cases': 242097,
  'Status': 'confirmed',
  'Date': '2021-01-02T00:00:00Z'},
 {'Country': 'Japan',
  'CountryCode': '',
  'Province': '',
  'City': '',
  'CityCode': '',
  'Lat': '0',
  'Lon': '0',
  'Cases': 245293,
  'Status': 'confirmed',
  'Date': '2021-01-03T00:00:00Z'},
 {'Country': 'Japan',
  'CountryCode': '',
  'Province': '',
  'City': '',
  'CityCode': '',
  'Lat': '0',
  'Lon': '0',
  'Cases': 248625,
  'Status': 'confirmed',
  'Date': '2021-01-04T00:00:00Z'},
 {'Country': 'Japan',
  'CountryCode': '',
  'Province': '',
  'City': '',
  'CityCode': '',
  'Lat': '0',
  'Lon': '0',
  'Cases': 253571,
  'Status': 'confirmed',
  'Date': '2021-01-05T00:00:00Z'}]

In [27]:
# and you can directly convert this to a pandas dataframe!
from pandas import DataFrame
df = DataFrame(res.json())

In [28]:
df.head()

,Country,CountryCode,Province,City,CityCode,Lat,Lon,Cases,Status,Date
0,"Taiwan, Republic of China",,,,,0,0,802,confirmed,2021-01-01T00:00:00Z
1,"Taiwan, Republic of China",,,,,0,0,808,confirmed,2021-01-02T00:00:00Z
2,"Taiwan, Republic of China",,,,,0,0,812,confirmed,2021-01-03T00:00:00Z
3,"Taiwan, Republic of China",,,,,0,0,815,confirmed,2021-01-04T00:00:00Z
4,"Taiwan, Republic of China",,,,,0,0,817,confirmed,2021-01-05T00:00:00Z

# Put together a function

In [88]:
from datetime import datetime
import pandas as pd
import requests


def get_confirmed_cases_api(countries):
    start = '2021-1-1'
    end = str(datetime.today())
    params = {'from': start, 'to': end}
    output = []
    for country in countries:
        print(f"Calling API for {country}")
        endpoint = f'https://api.covid19api.com/total/country/{country}/status/confirmed'
        try:
            res = requests.get(endpoint, params=params)
            data = res.json()  # return a list of every day record
            for each_record in data:
                cases = each_record['Cases']
                date = each_record['Date']
                output.append({"country": country, "cases": cases, "date": date})
        except Exception as err:
            print(f"Error for {country}:")
            print(err)
    # convert to dataframe
    df = pd.DataFrame(output)
    
    # modify date format for 'date' column
    df['date'] = pd.to_datetime(df['date']).dt.strftime('%Y-%m-%d')
    # creage a column called id
    df['id'] = df['country'] + df['date']
    
    return df

In [89]:
# look at that!
countries = ["taiwan", "japan"]
df = get_confirmed_cases_api(countries)

Calling API for taiwan
Calling API for japan

In [90]:
df.head()

  country  cases        date                id
0  taiwan    802  2021-01-01  taiwan2021-01-01
1  taiwan    808  2021-01-02  taiwan2021-01-02
2  taiwan    812  2021-01-03  taiwan2021-01-03
3  taiwan    815  2021-01-04  taiwan2021-01-04
4  taiwan    817  2021-01-05  taiwan2021-01-05